

.section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    flex-direction: column;
}

.htres {
    font-size: 48px;
    color: #000;
}

.finalHr {
    border-color: #d9d9d9;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
  }
  