.title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    flex-direction: column;
}
.htres {
    font-size: 48px;
    color: #333333;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
}