.footer {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}


.div h2 {
   display: flex;

}

.rowOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rowOne ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 60px;
    gap: 10px;
}

.form {
    display: flex;
    flex-direction: row;
}

.input {
    display: flex;
    flex-direction: column;
}