

.section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 70px;
    flex-direction: column;
}

.htres {
    font-size: 48px;
    color: #000;
}