.productCardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Sempre 4 colunas */
  gap: 20px; /* Espaço entre os cartões */
  padding: 50px;
  justify-items: center; /* Centraliza os cards dentro das colunas */
}

.card {
  width: 100%; /* Cards ocupam 100% da largura da coluna */
  max-width: 285px; /* Define o máximo que os cards podem expandir */
  height: 446px; /* Ajusta a altura de acordo com o conteúdo */
  background-color: #F4F5F7;
  text-align: center; /* Centraliza texto */
  position: relative;
}


.productTitle {
  display: flex;
  flex-direction: initial;
  justify-content: flex-start;
  font-size: 1.2rem; 
  margin: 0.5rem 0; 
  margin-top: 20px;
}

.card h3, p {
  padding: 0 15px;
}
.productDescription {
  display: flex;
  flex-direction: initial;
  justify-content: flex-start;
  font-size: 1rem; /* Tamanho do texto da categoria */
  color: #666; /* Cor mais clara para a categoria */
}

.productPrice {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: flex-end;
  flex-direction: row-reverse;
  font-size: 1.2rem; 
  color: #333; 
}

.oldPrice {
  text-decoration: line-through; /* Sublinha o preço antigo */
  color: #999; /* Cor mais clara para o preço antigo */
  margin-left: 10px; /* Espaçamento entre o preço atual e o antigo */
}

/* .promoBubble {
 
} */

.newBubble {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #2ec1ac;
  border-radius: 50%; 
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 10;
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden; 
  text-align: center; 
}

.discountBubble {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #E97171;
  border-radius: 50%; 
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 10;
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: hidden; 
  text-align: center;
}

